<div class="layout-app bg-white" style="visibility: visible;">
    <div>
        <h3>An error happened</h3>
        <a href="/Home">
            Click here to retun to homepage
        </a>
    </div>
</div>