@model HandleErrorInfo

@{
    ViewBag.Title = Resources.SharedErrorVBTitle;
}

<hgroup class="title">
    <h1 class="error">@Resources.SharedErrorError1</h1>
    <h2 class="error">@Resources.SharedErrorError2</h2>
</hgroup>