@{
    ViewBag.Title = "Terms Of Use";
}

<div class="layout-app">
    <!-- row-app -->
    <div class="row row-app" style="background: #fff">
        <div class="col-md-12 col-sm-12">

            <!-- col-separator.box -->
            <div class="col-unscrollable box">

                <!-- col-table -->
                <div class="col-table">

                    <!-- col-table-row -->
                    <div class="col-table-row">

                        <!-- col-app -->
                        <div class="col-app col-unscrollable">
                            <!-- col-app -->
                            <div class="col-app iscrollWrapper">

                                <div class="jscroll">
                                    <section class="shadow2" style="background: #636363; border-bottom: 1px solid #000; min-height: 200px;">
                                        <h1 style="color: white; font-size: 48px; padding-top: 80px; text-align: center;">
                                            Terms of Use
                                        </h1>
                                    </section>
                                    <section class="container" style="font-size: 17px; padding-bottom: 50px; padding-top: 40px; width: 50%;">
                                        <p><span>This Agreement was last modified on May 18, 2014.</span><br /><span>Please read these Terms of Service ("Agreement", "Terms of Service") carefully before using&nbsp;</span><a href="http://save.quarinos.com/" target="_blank">save.quarinos.com</a><span>&nbsp;("the Site") operated by Quarinos ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Site at&nbsp;</span><a href="http://save.quarinos.com/" target="_blank">save.quarinos.com</a><span>.</span></p>
                                        <p><br /><span>By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms of Service. Capitalized terms are defined in this Agreement.</span></p>
                                        <p><br /><strong style="font-size: 2em;">1. Intellectual Property</strong></p>
                                        <p><strong></strong><br /><span>The Site and its original content, features and functionality are owned by Quarinos and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.</span></p>
                                        <p>&nbsp;</p>
                                        <p><br /><strong style="font-size: 2em;">2. Termination</strong></p>
                                        <p><strong></strong><br /><span>We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</span></p>
                                        <p>&nbsp;</p>
                                        <p><br /><strong style="font-size: 2em;">3. Links To Other Sites</strong></p>
                                        <p><strong></strong><br /><span>Our Site may contain links to third-party sites that are not owned or controlled by Quarinos.</span><br /><span>Quarinos has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.</span></p>
                                        <p><span><br /></span></p>
                                        <p><br /><strong style="font-size: 2em;">4. Governing Law</strong></p>
                                        <p><strong></strong><br /><span>This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of Athens - Greece, Greece, without giving effect to any principles of conflicts of law.</span></p>
                                        <p>&nbsp;</p>
                                        <p><br /><strong style="font-size: 2em;">5. Changes To This Agreement</strong></p>
                                        <p><strong></strong><br /><span>We reserve the right, at our sole discretion, to modify or replace these Terms of Service by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms of Service.</span><br /><span>Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.</span></p>
                                        <p>&nbsp;</p>
                                        <p><br /><strong style="font-size: 2em;">6. Contact Us</strong><br/><p>&nbsp;</p><span>If you have any questions about this Agreement, please contact us.</span></p>

                                    </section>

                                    @Html.Partial("~/Views/Shared/LayoutPartials/_Footer.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>